
<!DOCTYPE html>
<head>

    <link rel="stylesheet" href="helpButton.css">
    
</head>
    
    <body>
    
    <button id="myButton">Click me</button>
    
    <div id="myModal" class="modal">
    
    <div class="modal-content">
    
    <span class="close">&times;</span>
    
    <p>This is some advice abt how to fix things</p>
    
    </div>
    
    </div>
    
    <script src="helpButton.js"></script>
    
    </body>
<body>
<!-- <div class="modal-content">

    <span class="close">&times;</span>
    
    <p>Hello, world!</p>
    
    </div>
    
    </div> -->
</body>    