<!-- ICE TRACK SIGN IN PAGE ALLOWS USERS TO MAKE NEW ACCOUNTS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up for Ice Track</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/icetrackstyles.css') }}"/>
    <title>Document</title>
</head>
<body>
    <div class="identifier">
        <!--Signing in creates a new employee, usernames cannot be duplicated -->
            <a href="icetrackhome.html">Home</a> 
    </div>
    <div class="header">
        <h1>Sign Up</h1>
    </div>
    <div class="loginbox">
        <h3>Choose a username and password:</h3>
        <div class="input_group" id = "rcorners2">
            <input type="text"required id="rcorners1">
            <label for="">Username</label>
            <input type="password"required id="rcorners1">
            <label for="">Password</label>
        </div>
        <a href="icetracklogin.html"><button class="button" id = "rcorners3"> <b>Login</b></button></a>
        <button class="button" id = "rcorners3"> <b>Sign Up</b></button>
    </div>
</body>
</html>
