<!-- ICE TRACK SHIPMENT TRACKING PAGE: ALLOWS YOU TO LOOK UP AND FIND SHIPMENTS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ice Track Shipment Tracking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/icetrackstyles.css') }}"/>
   
</head>
<body>

    <div class="identifier">
        <a>{{user}}</a> <!-- show user currently logged in -->
        <a href="icetracklogin.html">Logout</a> 
    </div>

    <div class="header">
      <h1>Track Your Shipment</h1>
    </div>

    <div class="topnav">
        <a href="icetrackhome.html">Home</a> 
        <a href="icetrackorder.html">Order Entry</a>
        <a href="icetrackinventory.html">Inventory Management</a>
        <a href="icetrackshipment.html">Shipment Tracking</a>
        <a href="icetrackticketmgmt.html">Trouble Tickets</a>
        <a href="icetrackFAQ.html">FAQ</a>
    </div>

    <p id="rcorners1" class = "myLabel"> 
      Enter identifiable information so that we may retrieve your shipment information.
      <br> <br>
      If your company only has one shipment, company name alone will suffice. Otherwise, please fill in other fields so we may find your order.
    </p>

    
<!-- Input Formatting (Form Creation) -->
    <form action="/trackShipment" id = "shipmentForm" method="POST" name="data">
      <h2 class = "header2"><u>Find Your Shipment</u></h2>
        <!-- The Customer's Name -->
        <div class="input_group2" id = "rcorners5">
            <label class = "myLabel">Company Name</label>
            <input type="text" id="rcorners4" name = "companyName" placeholder = "Company Name">  
            <button class="help_button" id="help-companyName">?</button>   
            <div id="myModal-companyName" class="modal">
              <div class="modal-content">
                  <span class="close" data-modal="myModal-companyName">&times;</span>
                  <p>This name should match the one associated with the order, typically the company's name as entered.</p>
              </div>
          </div>
          
        </div>

        <!-- Shipment Date -->
       <div class="input_group2" id="rcorners5">
            <label class = "myLabel">Order Date</label>
            <input type="date" id="rcorners4" name="orderDate">
            <button class="help_button" id="help-orderDate">?</button>   
            <div id="myModal-orderDate" class="modal">
              <div class="modal-content">
                  <span class="close" data-modal="myModal-orderDate">&times;</span>
                  <p>Select the date of order placement according to your receipts.</p>
              </div>
          </div>
          
        </div>

        <!-- Expected Delivery Date -->
        <div class="input_group2" id="rcorners5">
            <label class = "myLabel">Expected Delivery Date</label>
            <input type="date" id="rcorners4" name="estimatedArrival">
            <button class="help_button" id="help-estimatedArrival">?</button>   
            <div id="myModal-estimatedArrival" class="modal">
              <div class="modal-content">
                  <span class="close" data-modal="myModal-estimatedArrival">&times;</span>
                  <p>Select the date the package was (or is) expected to be delivery regardless of accuracy.</p>
              </div>
          </div>
        </div>
        <!-- The button for searching when the user is done filling out identifiable information -->
        <input type="submit" class="submit_button" value = "Track">
        <br>
    </form>
    <script src="{{ url_for('static',filename='script/helpButtonShip.js') }}"></script>

<!-- Returned Information from Search -->
<div id="shipmentSummary"></div>
<div id="shipmentFound"></div>
    
   <hr>

  <div>
    {% if error %}
      <div class="error-message">
        <p class="myLabel">{{ error }}</p>
      </div>
    {% elif foundStatus %}
    <h2 class = "header2"><u>Shipment Found</u></h2>
    
    <table border="1" style="border-color: rgba(212, 187, 162,0.5); border-radius: 10px; padding: 4px; border-spacing: 4px; border-collapse:separarate; width: 95%; margin:auto; background-color: rgba(255,255,255,0.8);" class = "myLabel">
        <thead>
          <tr>
            <th>ID</th>
            <th>Shipment Date: </th>
            <th>Shipment Boxes: </th>
            <th>Full/Partial Shipment:</th>
            <th>Estimated Arrival:</th>
            <th>Arrival Date:</th>
            <th>Status:</th>
          </tr>
        </thead>
        <tbody>
          {% for status in foundStatus %}
          <tr>
            <td>{{ status['Order ID'] }}</td>
            <td>{{ status['Date Shipped'] }}</td>
            <td>{{  status['Shipment Boxes'] }}</td>
            <td>{{ status['Full/Partial Shipment'] }}</td>
            <td>{{ status['Estimated Arrival'] }}</td>
            <td>{{ status['Arrrival Date'] }}</td>
            <td>{{ status['Status'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="myLabel">No shipment status available.</p>
    {% endif %}
    <br>
  </div>
  
  


</body>
</html>
