<!-- ICE TRACK INVENTORY MANAGEMENT PAGE: ALLOWS COMPANY TO KEEP TRACK OF CURRENT STOCK -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Ice Track Inventory Management</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/icetrackstyles.css') }}"/>
</head>
<body>

<div class="identifier">
    <a>{{user}}</a> <!-- show user currently logged in -->
    <a href="icetracklogin.html">Logout</a> 
</div>

<div class="header">
  <h1>Inventory Management</h1>
</div>

<div class="topnav">
  <a href="icetrackhome.html">Home</a> 
  <a href="icetrackorder.html">Order Entry</a>
  <a href="icetrackinventory.html">Inventory Management</a>
  <a href="icetrackshipment.html">Shipment Tracking</a>
  <a href="icetrackticketmgmt.html">Trouble Tickets</a>
  <a href="icetrackFAQ.html">FAQ</a>
</div>
<p id = "rcorners1" class = "myLabel"> This page allows you to make changes to the company inventory database</i></p>



  <!--TODO: give functionality to code below if you can-->
    <!-- The following will filter the current inventory to only show data from certain time frames -->
    <!-- <form action="/summaryInv" method = "post" class = "myLabel">
      <div class="input_group2" id="rcorners5">
        <h2 class = "header2">
          <u>Change Summary 
        <label for="" class = "myLabel"><b>Select:</b></label> -->
        <!-- lets you choose what time frame of data you want to see -->
        <!-- <select id="rcorners4" name="timeFrame" multiple required>
            <option value="sortID">past week</option>
            <option value="sortFlavor">past month</option>
            <option value="sortSize">past year</option>
            <option value="sortCost" selected>all time</option>
        </select>
        <button class="help_button" id="help-timeFrame">?</button>   
        <div id="myModal-timeFrame" class="modal">
            <div class="modal-content">
                <span class="close" data-modal="myModal-timeFrame">&times;</span>
                <p>This dropdown menu allows you to generate a new summary report showing the disposition of inventory for specified time periods (weekly, monthly, yearly).</p>
            </div>
        </div></u>
        </h2>
      </div> -->
      <!-- generate summary button -->
      <!-- <input type = "submit" value = "generate summary" class = "submit_button">
    </form>   -->
    {% if adminPriv is true %}
     <!-- The Inventory header showing the orders stored in the database -->
      <div>
        <h1 class="header">Current Inventory</h1>
        {% if inventory is none %}
          <p>The inventory is empty</p>
        {% else %}
          <table border="1" style="border-color: rgba(212, 187, 162,0.5); border-radius: 10px; padding: 4px; border-spacing: 4px; border-collapse:separarate; width: 95%; margin:auto; background-color: rgba(255,255,255,0.8);" class = "myLabel">
            <thead>
              <tr>
                <th>ID</th>
                <th>Flavor</th>
                <th>Size</th>
                <th>Available</th>
                <th>Committed</th>
                <th>Defective</th>
              </tr>
            </thead>
            <tbody>
              {% for item in inventory %}
              <tr>
                <td>{{ item['id'] }}</td>
                <td>{{ item['flavor'] }}</td>
                <td>{{ item['size'] }}</td>
                <td>{{ item['available'] }}</td>
                <td>{{ item['committed'] }}</td>
                <td>{{ item['defective'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>


    <h1 class = "header">Update</h1>
    <p id = "rcorners1" class = "myLabel"> 
      Enter the ID of an object to update the database, have control over individual packs. 
      <br>
      <br>
      BEWARE: <b>Once you designate an item as committed or defective, you cannot undo this action</b>
    </i></p>
 

    <div class="button-group">
    <!-- # to commit -->
    <form action="/commitInv" method = "post" class = "myLabel" >
      <!-- input value -->
       <input type="number" id="rcorners6" name="commitNum" width="25%">
      <!-- commit button -->
       <input type="submit" class="submit_button" value="commit" name="commitNum">
      <!-- help -->
       <button type="button" class="help_button" id="help-commit">?</button>  
       <div id="myModal-commit" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="myModal-commit">&times;</span>
            <p> Provide the ID of an item you would like to commit. This will commit one of the available items in the inventory. </p>
        </div>
       </div> 
    </form>
   <br>

   <!-- # to delete -->
    <form action="/defectiveInv" method = "post" class = "myLabel">
    <!-- input value -->
     <input type="number"  id="rcorners6" width="50%"name="defectiveNum">
    <!-- delete button -->
     <input type="submit" class="submit_button" value="defective" > 
    <!-- help -->
     <button type="button" class="help_button" id="help-defective">?</button>  
     <div id="myModal-defective" class="modal">
      <div class="modal-content">
          <span class="close" data-modal="myModal-defective">&times;</span>
          <p> Provide the ID of an item you would like to mark defective. This will mark one of the available items in the inventory as defective.</p>
      </div>
     </div>
  </form>

  <br>
  <!-- # to add -->
  <form action="/addInv" method = "post" class = "myLabel">
    <!-- input value -->
     <input type="number" class="input_group2" id="rcorners6" name="addNum">
    <!-- add button -->
     <input type="submit" class="submit_button" value="add" > 
    <!-- help -->
     <button type="button" class="help_button" id="help-add">?</button>
     <div id="myModal-add" class="modal">
      <div class="modal-content">
          <span class="close" data-modal="myModal-add">&times;</span>
          <p> Provide the ID of an item you would like to add. This will add one item to the number currently available.</p>
      </div>
     </div>
   </form>
   <br>

    <!-- # to delete -->
  <form action="/deleteInv" method = "post" class = "myLabel">
    <!-- input value -->
     <input type="number" class="input_group2" id="rcorners6" name="deleteNum">
    <!-- delete button -->
     <input type="submit" class="submit_button" value="delete"> 
    <!-- help -->
     <button type="button" class="help_button" id="help-delete" >?</button>
     <div id="myModal-delete" class="modal">
      <div class="modal-content">
          <span class="close" data-modal="myModal-delete">&times;</span>
          <p> Provide the ID of an item you would like to delete. This will delete one item from the number currently available.</p>
      </div>
     </div>
   </form>

   </div>

   <h1 class = "header">New Inventory Slot</h1>
    <p id = "rcorners1" class = "myLabel"> 
      Enter the information for new ice cream to add to our inventory.
    </p>
   <form action="/icetracknewinventory" id = "inventoryForm" method="POST" name="invdata">
    <h2 class = "header2"><u>Ice Cream Details</u></h2>
  <div class = "row">
  <div class = "column">
  <!-- Form sends info the user puts in, to our database -->
  
      <!-- ID associated with ice cream flavor entry -->
      <div class="input_group2" id = "rcorners5">
          <label for="name" class = "myLabel">ID</label>
          <input type="text"required id="rcorners4" name = "id" placeholder = "Ice Cream ID">  
          <button class="help_button" id="help-idEntry">?</button>   
          <div id="myModal-idEntry" class="modal">
              <div class="modal-content">
                  <span class="close" data-modal="myModal-idEntry">&times;</span>
                  <p>Please choose an ID that is not already being used, preferably the next available number</p>
              </div>
          </div>
      </div>

      <!-- Order Description -->
        <div class="input_group2" id="rcorners5">
          <label for="flavor" class="myLabel">Flavor</label>
          <select id="flavor-dropdown" name="flavor" class="dropdown-button" required>
            <!-- <option value="">-- Flavor --</option> -->
            <option value="vanilla">Vanilla</option>
            <option value="chocolate">Chocolate</option>
            <option value="strawberry">Strawberry</option>
          </select>
          <button class="help_button" id="help-flavor">?</button>
        <div id="myModal-flavor" class="modal">
          <div class="modal-content">
            <span class="close" data-modal="myModal-flavor">&times;</span>
            <p>What flavor would you like? We currently only have 3 in stock.</p>
          </div>
        </div>
      </div>
  </div>
  <div class = "column">
      <div class="input_group2" id="rcorners5">
        <label for="size" class="myLabel">Size</label>
        <select id="size-dropdown" name="size" class="dropdown-button" required>
          <!-- <option value="">-- Size --</option> -->
          <option value="S">Small</option>
          <option value="M">Medium</option>
          <option value="L">Large</option>
        </select>
        <button class="help_button" id="help-size">?</button>
        <div id="myModal-size" class="modal">
          <div class="modal-content">
            <span class="close" data-modal="myModal-size">&times;</span>
            <p>Small ~ Serves 1; Medium ~ Serves 5; Large ~ Serves 25.</p>
          </div>
        </div>
      </div>

      <div class="input_group" id="rcorners5">
          <label for="quantity" class = "myLabel">Quantity</label>
          <input id="rcorners4" type="number" name="quantity" min="0" step="1" required>
      <button class="help_button" id="help-quantity">?</button>   
          <div id="myModal-quantity" class="modal">
              <div class="modal-content">
                  <span class="close" data-modal="myModal-quantity">&times;</span>
                  <p>How many of this type of ice cream are we adding to the inventory?</p>
              </div>
          </div>
      </div>
      </div>
      </div>

      <input type="submit" class="submit_button" value="Submit">
      
  </form>

   {% else %}
    <!-- The Inventory header showing the orders stored in the database -->
    <div>
      <h1 class="header">Current Inventory</h1>
      {% if inventory is none %}
        <p>The inventory is empty</p>
      {% else %}
        <table border="1" style="border-color: rgba(212, 187, 162,0.5); border-radius: 10px; padding: 4px; border-spacing: 4px; border-collapse:separarate; width: 95%; margin:auto; background-color: rgba(255,255,255,0.8);" class = "myLabel">
          <thead>
            <tr>
              <th>Flavor</th>
              <th>Size</th>
              <th>Available</th>
            </tr>
          </thead>
          <tbody>
            {% for item in inventory %}
            <tr>
              <td>{{ item['flavor'] }}</td>
              <td>{{ item['size'] }}</td>
              <td>{{ item['available'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
   {% endif %}

<script src="{{ url_for('static',filename='script/helpButtonInventory.js') }}"></script>
</body>
</html>
