<!-- ICE TRACK ORDER ENTRY PAGE: ADDS ENTRIES TO THE DATABASE OF ORDERS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ice Track Order Entry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/icetrackstyles.css') }}"/>
</head>
<body>
    <script src="{{ url_for('static',filename='script/icetrackJS.js') }}"></script>

    <div class="identifier">
        <a href="icetracklogin.html">Login</a> 
        <a href="icetracksignup.html">Sign Up</a> 
    </div>

    <div class="header">
      <h1>Enter An Order</h1>
    </div>

    <div class="topnav">
        <a href="icetrackhome.html">Home</a> 
        <a href="icetrackorder.html">Order Entry</a>
        <a href="icetrackinventory.html">Inventory Management</a>
        <a href="icetrackshipment.html">Shipment Tracking</a>
        <a href="icetrackticketmgmt.html">Trouble Tickets</a>
        <a href="icetrackFAQ.html">FAQ</a>
    </div>

    <p id="rcorners1" class = "myLabel"> Enter one order at a time and remember to review information before submitting.</p>

    <!-- Form sends info the user puts in, to our database -->
    <form action="/icetrackordersubmitted" id = "orderForm" method="POST" name="data">
        <h2 class = "header2"><u>Order Details</u></h2>
        <!-- string inputs for descriptive values -->
        <div class="input_group2" id = "rcorners5">
            <label for="name" class = "myLabel">Name</label>
            <input type="text"required id="rcorners4" name = "CustomerName" placeholder = "Tom Brady">  
         </div>

        <!-- Shipping Address -->
        <div class="input_group2" id="rcorners5">
            <label for="shippingAddress" class = "myLabel">Shipping Address</label>
            <input type="text" required id="rcorners4" name="ShippingAddress">
            <button class="help_button" id="help-shipping">?</button>   
            <div id="myModal-shipping" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="myModal-shipping">&times;</span>
                    <p>This is where the ice cream will be sent.</p>
                </div>
            </div>
        </div>

        <!-- Billing Address -->
        <div class="input_group2" id="rcorners5">
            <label for="billingAddress" class = "myLabel">Billing Address</label>
            <input type="text" required id="rcorners4" name="BillingAddress">
            <button class="help_button" id="help-billing">?</button>   
            <div id="myModal-billing" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="myModal-billing">&times;</span>
                    <p>This is where you will be billed.</p>
                </div>
            </div>
        </div>

        <!-- Order Description -->
        <div class="input_group2" id="rcorners5">
            <label for="orderDescription" class = "myLabel">Order Description</label>
            <textarea id="rcorners4" required rows="2" name="OrderDescription"></textarea>
            <button class="help_button" id="help-description">?</button>   
            <div id="myModal-description" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="myModal-description">&times;</span>
                    <p>Describe the order in detail; be sure to include the flavor, size, and quantity.</p>
                </div>
            </div>
        </div>

        <!-- Mismatch with backend but could be implemented -->

<!-- numeric inputs for numeric values -->
      <!-- <h2 class = "header2"><u>Costs</u></h2>  -->
        <!-- <div class="input_group" id="rcorners5">
            <label for="subtotal" class = "myLabel">Subtotal</label>
            <input type="number" id="amount" name="Subtotal" min="0" step="0.01" required>
        </div>
        <div class="input_group2" id="rcorners5">
            <label for="shippingCost" class = "myLabel">Shipping Cost</label>
            <input type="number" id="amount" name="ShippingCost" min="0" step="0.01" required>
        </div>
        <div class="input_group2" id="rcorners5">
            <label for="totalCost" class = "myLabel">Total Cost</label>
            <input type="number" id="amount" name="TotalCost" min="0" step="0.01" required>
        </div> -->
        <!-- date-type input values -->
      <!-- <h2 class = "header2"><u>Time Records</u></h2> 
        <div class="input_group2" id="rcorners5">
            <label for="orderDate" class = "myLabel">Order Date</label>
            <input type="date" required id="rcorners4" name="OrderDate">
            <button class="help_button" id="help-orderDate">?</button>   
            <div id="myModal-orderDate" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="myModal-orderDate">&times;</span>
                    <p>Select the date of order placement.</p>
                </div>
            </div>
        </div> -->

        <!-- <div class="input_group2" id="rcorners5">
            <label for="paymentDate" class = "myLabel">Payment Date</label>
            <input type="date" required id="rcorners4" name="PaymentDate">
            <button class="help_button" id="help-paymentDate">?</button>   
            <div id="myModal-paymentDate" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="myModal-paymentDate">&times;</span>
                    <p>Select the date payment was made.</p>
                </div>
            </div>
        </div> -->

        <!-- ^^ Mismatch with backend but could be implemented ^^ -->

        <!-- Customer Status -->
      <h2 class = "header2"><u>Customer Status</u></h2>
        <div class="input_group2" id="rcorners5">
            <label for="customerStatus" class = "myLabel">Customer Status</label>
            <select id="rcorners4" name="CustomerStatus" multiple required>
                <option value="preferred">Preferred</option>
                <option value="ok" selected>Ok</option>
                <option value="shaky">Shaky</option>
            </select>
            <button class="help_button" id="help-customerStatus">?</button>   
            <div id="myModal-customerStatus" class="modal">
                <div class="modal-content">
                    <span class="close" data-modal="myModal-customerStatus">&times;</span>
                    <p>Select the status best corresponding to the reputation of the customer. If no selection is made, this will default to "OK".</p>
                </div>
            </div>
        </div>

        <input type="submit" class="submit_button" value="Submit">
        
    </form>
    <!-- Created for simplicity of html, but unnecessary: <script src="postOrderEntry.js"></script> -->
    <br>
    <p id="rcorners1" class = "myLabel"> Don't forget to review <b>before</b> you submit.</p>

    <script src="{{ url_for('static',filename='script/helpButton.js') }}"></script>
</body>
</html>
