<!-- ICE TRACK ORDER ENTRY PAGE: ADDS ENTRIES TO THE DATABASE OF ORDERS -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
 <title>Ice Track Order Entry Submitted!</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/icetrackstyles.css') }}"/>
 </head>
 <body>
   <script src="{{ url_for('static',filename='script/icetrackJS.js') }}"></script>
   <script src="{{ url_for('static',filename='script/helpButton.js') }}"></script>
   </script>
   
   <div class="identifier">
    <a>{{user}}</a> <!-- show user currently logged in -->
    <a href="icetracklogin.html">Logout</a> 
</div>
 
 <div class="header">
   <h1>Enter an Order</h1>
 </div>
 
 <div class="topnav">
     <a href="icetrackhome.html"">Home</a> 
     <a href="icetrackorder.html">Order Entry</a>
     <a href="icetrackinventory.html">Inventory Management</a>
     <a href="icetrackshipment.html">Shipment Tracking</a>
     <a href="icetrackticketmgmt.html">Trouble Tickets</a>
     <a href="icetrackFAQ.html">FAQ</a>
   </div>
 <p id = "rcorners1" class = "myLabel">Here is a record of your most recent submission.</p>
  
<h2 class = "header">Order Submission</h2>

<!-- shows submission status (success or failure) -->
<div>
  <h2 class = "header2">Submission Status </h2>
  {% if status == "success" %}
      <p>Your order has been successfully placed!</p>
  {% elif status == "failure" %}
      <p>Failed to place your order. Please try again later.</p>
  {% elif status == "error" %}
      <p>An error occurred: {{ error_message }}</p>
  {% else %}
      <p>{{status}}</p>
  {% endif %}
</div>


 <p id = "rcorners1" class = "myLabel">Thank you for updating our records!</p>
 
 </body>
 </html>
 
