<!-- ICE TRACK LOG IN PAGE, ALLOWS EMPLOYEES TO SIGN IN AND ACCESS PAGES -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login to Ice Track</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/icetrackstyles.css') }}"/>
    <title>Document</title>
</head>
<body>
    <div class="identifier">
        <a>Not logged in</a>
    </div>
    <div class="header">
        <h1>Login</h1>
    </div>

    <!-- A warning for the user to delete after implementation -->
    <p  id = "rcorners1" class = "myLabel"> Login to access Ice Track.</p>

    <!-- TODO: Turn this into a form readable by flask -->
     <form action="/login" method="POST">
        <div class="loginbox">
            <h3>Enter your username and password:</h3>
            <div class="input_group" id = "rcorners2">
                <input type="text"required id="rcorners1" placeholder="username" name="username">
                <label for="">Username</label>
                <input type="password"required id="rcorners1" placeholder="password" name="password">
                <label for="">Password</label>
            
            </div>
            <input type="submit" value="Log in" class="button" id="rcorners3">
        </div>
    </form>
</body>
</html>
